* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #212428, #1b1d1f);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.idx-nav {
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.idx-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.idx-nav .title-logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.idx-nav .title-logo img {
  max-width: 80px;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: transform 0.5s ease;
  &:hover {
    transform: translate(0, -16%);
  }
}

.idx-nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: rgb(39, 160, 216);
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 35px;
}

.idx-nav .icon {
  margin-right: 35px;
  font-size: 20px;
  color: white;
  transition: transform 0.5s ease;
  &:hover {
    color: rgb(39, 160, 216);
    transform: translate(0, -16%);
  }
}

.idx-nav .menu-btn {
  margin-left: 35px;
  font-size: 20px;
  color: white;
  transition: transform 0.5s ease;
  &:hover {
    color: rgb(39, 160, 216);
    transform: translate(0, -16%);
  }
}

.idx-banner img {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  z-index: 1;
  filter: brightness(50%);
}

.idx-content {
  min-height: calc(100vh - 420px);
  display: flex;
  object-fit: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Courier New", Courier, monospace;
}

button {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  color: white;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: transform 0.5s ease;

  &:hover {
    transform: translate(0, -16%);
    color: rgb(86, 146, 248);
    font-weight: bold;
  }
}

h4 {
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.71);
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.id-list {
  text-align: start;
  color: rgba(255, 255, 255, 0.989);
  text-transform: uppercase;
  font-family: monospace;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.id-list-item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.id-list-item .text {
  flex: 1;
  margin-right: 40px;
  transition: transform 0.8s ease;
  &:hover {
    transform: translate(0, -16%);
    color: #6a96d8;
  }
}

.id-list-item .addToCart {
  background: rgba(255, 255, 255, 0.338);
  backdrop-filter: blur(15px);
  color: white;
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 4px 25px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: transform 0.8s ease;
  &:hover {
    transform: translate(0, -12%);
  }
}

.id-list-item .addToCart:hover {
  transform: translate(0, -5%);
  color: rgb(86, 146, 248);
  font-weight: bold;
}

/* footer */
.g-footer {
  margin-top: auto;
  background-image: linear-gradient(to right, #21252b, #212428);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 55px;

  .footer-end {
    color: rgba(147, 147, 147, 0.922);
    font-family: monospace;

    a {
      color: rgb(249, 249, 249);
      text-decoration: none;
    }
  }

  .favicons {
    margin-bottom: 30px;
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: -5px;

      a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 28px;

        .fa-stack {
          font-size: 18px;
          transition: transform 0.5s ease;

          &:hover {
            transform: translate(0, -16%);
          }
        }
      }
    }
  }
}

/* cube */
.scene {
  width: 200px;
  height: 200px;
  perspective: 700px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
}

.face {
  position: absolute;
  width: 120px;
  height: 180px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-align: center;
}

.face.front {
  transform: translateZ(100px);
}

.face.front img {
  max-width: 300px;
}

.face.back img {
  max-width: 300px;
}

.face.back {
  transform: rotateY(180deg) translateZ(100px);
}

.face.right {
  transform: rotateY(90deg) translateZ(100px);
}

.face.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.face.top {
  transform: rotateX(90deg) translateZ(100px);
}

.face.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* slider ed */
.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1)
  ) !important;
}
.slider .list .item img {
  width: 100%;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}
