* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #212121, #181818);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* nav start */
.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(to right, #21252b, #212428);
  color: white;
  font-family: "pf_dintext_proregular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 25px;
}

.logo {
  grid-column: 1 / 2;
  padding: 0 40px;
  width: 160px;
  animation: rotate3D 5s infinite linear;
}

.cart-icon {
  grid-column: 3 / 4;
  padding: 0 40px;
  transition: transform 0.5s ease;

  &:hover {
    transform: translate(0, -16%);
  }
}

.navbar-links {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  margin-top: 10px;
  background-color: #111010;
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links a {
  text-decoration: none;
  color: rgb(210, 210, 210);
  &:hover {
    color: white;
  }
}

@media (min-width: 600px) {
  .navbar {
    grid-template-areas:
      "logo . cart-icon"
      ". links .";
  }

  .logo {
    grid-area: logo;
  }

  .cart-icon {
    grid-area: cart-icon;
  }

  .navbar-links {
    grid-area: links;
  }
}

@keyframes rotate3D {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
/* nav end */

.idx-banner img {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  max-height: 180px;
  object-fit: cover;
  z-index: 1;
  filter: brightness(70%);
}

.idx-content {
  min-height: calc(100vh - 420px);
  display: flex;
  object-fit: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Courier New", Courier, monospace;
}

button {
  background: rgba(255, 255, 255, 0.223);
  backdrop-filter: blur(10px);
  color: rgb(183, 182, 182);
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  margin-bottom: 52px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: transform 0.5s ease;

  &:hover {
    transform: translate(0, -16%);
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
}

/* footer */
.g-footer {
  margin-top: auto;
  background-image: linear-gradient(to right, #21252b, #212428);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 55px;

  .footer-end {
    color: rgba(147, 147, 147, 0.922);
    font-family: monospace;

    a {
      color: rgb(249, 249, 249);
      text-decoration: none;
    }
  }

  .follow-us {
    color: white;
    font-family: monospace;
    margin-bottom: 15px;
    font-family: "pf_dintext_proregular", Helvetica, Arial, sans-serif;
    font-size: 13px;
  }
  .favicons {
    margin-bottom: 30px;
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: -5px;

      a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 28px;

        .fa-stack {
          font-size: 18px;
          transition: transform 0.5s ease;

          &:hover {
            transform: translate(0, -16%);
          }
        }
      }
    }
  }
}
